* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root{
    --azul: #2c74e2;
}



header{
    color: white;
    display: flex;
    flex-direction: column;
}
.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-image: url("banner.jpeg");
    font-size: larger;
    font-weight: 200;
}

.atalhos{
    height: 2rem;
    background-color: var(--azul);
    display: flex;
    justify-content: space-evenly;
}
.atalhos a{
    color: white;
    text-decoration: none;
}

footer{
    color: white;
    background-color: var(--azul);
    font-size: small;
    height: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 120px - 4rem);
}

fieldset{
    margin: 5rem;
    padding: 0.5rem;
    border: 2px solid black;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

select{
    border: 1px solid gray;
    background-color: white;
}

input {
    border: 1px solid gray;
}

textarea {
    border: 1px solid gray;
    margin-bottom: 1rem;
}

div {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
}

.botoes button {
    margin: 0 0.5rem;
    background-color: #2c74e2;
    color: white;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

/*_______________________CURSO____________________________*/

.Curso {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Curso h1 {
    font-weight: 100;
    margin-bottom: 1rem;
}


table, td, tr, th {
    width: max-content;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0 1rem;
}

td {
    text-align: center;
}

.Aulas {
    text-align: left;
}

/*_______________________FAQ____________________________*/

.Perguntas {
    display: block;
}

.Perguntas div, p, a{
    padding: 0 1rem;
    font-weight: normal;
    text-decoration: none;
    color: black;
}

.Perguntas div p{
    font-weight: 800;
}

.Perguntas div li{
    margin: 1rem;
}

.Perguntas p{
    padding: 1rem;
}

.Perguntas div a{
    font-weight: normal;
    text-decoration: none;
    color: black;
}

/*_______________________INICIO____________________________*/

.Apresentações h1 {
    font-weight: 800;
    padding: 1rem 1rem;
}

.Apresentações h2 {
    font-size: larger;
    font-weight: 100;
    padding: 0.5rem 1rem;
}

.Apresentações ol, ul {
    font-size: larger;
    font-weight: 100;
    padding: 0.5rem 2rem;
}

/*_______________________CONTATO____________________________*/


.Contato {
    justify-content: center;
    align-items: center;
}